@font-face {
    font-family: 'Arial-MT';
    src: url("../assets/fonts/Arial-MT.woff");
}

@font-face {
    font-family: 'Bauhaus';
    src: url("../assets/fonts/bauhaus.ttf");
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Bauhaus', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
}

.player {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    background: rgba(164, 189, 183, 0.3);
    border-radius: 10px;

}

.player-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.volume-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mute-button {
    margin-right: 6px;
    opacity: 1;
    cursor: pointer;
}

.mute-button-active {
    opacity: 0.5;
}

.sound-volume {
    -webkit-appearance: none;
    height: 6px;
    opacity: .8;
    background: #fff;
    cursor: pointer;
}

.sound-volume {
    max-width: 70px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.duration-player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0;
    outline: 0;
}

.duration-timer {
    margin-top: 4px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    opacity: .8;
}

.progress {
    min-width: 100%;
    height: 6px;
    background-color: #fff;
    cursor: pointer;
    opacity: 1;
}

.progress-colored {
    position: absolute;
    left: 0;
    opacity: 1;
    height: 6px;
    max-width: 230px;
    background-color: rgb(0, 255, 227);
    cursor: pointer;
}

.title-song {
    display: flex;
    list-style: none;
    transition: .3s;
    overflow: hidden;
    color:  rgb(0, 255, 227);
}

.play-list {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 5px;
    padding-left: 30px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.play-item:hover {
    opacity: 1;
}

.play-item::before {
    content: "\266B";
    position: absolute;
    left: 0;
    top: 5px;
    font-weight: 900;
}

.item-active {
    color:  rgb(0, 255, 227);
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../assets/svg/play.svg");
}

.pause {
    background-image: url("../assets/svg/pause.svg");
}

.play-prev {
    background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
    background-image: url("../assets/svg/play-next.svg");
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 250px;
    min-height: 180px;
    font-size: 18px;
}

.weather::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 190px;
    background: rgba(164, 189, 183, 0.69);
    opacity: 0.5;
    z-index: -2;
    border-radius: 10px;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    margin-left: 5px;
}

.wind {
    margin-left: 5px;
}

.humidity {
    margin-left: 5px;
}

.weather-icon {
    font-size: 44px;
    margin: auto;
}

.city {
    width: 250px;
    height: 34px;
    padding: 5px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: rgba(243, 204, 0, 0.5);
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-family: 'Bauhaus', sans-serif;
    font-size: 24px;
}

.city::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 260px;
    padding: 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
    background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
    right: 20px;
    background-image: url("../assets/svg/slider-next.svg");
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-size: 100px;
    letter-spacing: -4px;
    color: rgba(0, 246, 224, 0.77);
}

time::before {
    content: '';
    position: absolute;
    width: 365px;
    height: 115px;
    background: rgba(164, 189, 183, 0.5);
    opacity: 0.5;
    z-index: -2;
    border-radius: 20px;
}

.date {
    min-height: 28px;
    font-size: 28px;
    margin-bottom: 20px;
}

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    font-size: 40px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-family: 'Bauhaus', sans-serif;
}

.name::placeholder {
    color: #fff;
    opacity: .6;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30vh;
    min-height: 160px;
    padding: 20px;
}

.change-quote {
    margin-bottom: 30px;
    background-image: url("../assets/svg/reload.svg");
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    min-height: 32px;
    font-size: 20px;
}

.author {
    min-height: 20px;
    font-size: 30px;
    color: rgb(0, 255, 227);
}

@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }

    .greeting-container {
        min-height: 40px;
        font-size: 32px;
    }

    .greeting {
        padding: 5px;
    }

    .name {
        font-size: 32px;
        padding: 5px;
    }
}