* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Inika';
    src: url("assets/fonts/Inika-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Inika';
    src: url("assets/fonts/Inika-Bold.ttf");
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.header {
    background: #EDF2EC;
    font-family: 'Inika', sans-serif;
    padding: 42px 0;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__image {
    text-decoration: none;
}

.logo__title {
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.logo__title:hover {
    color: #499A18;
}

.logo__title:active {
    color: #ba0eee;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu__item {
    margin-right: 46px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
}

.menu__link:hover {
    color: #E06733;
    font-weight: 700;
    transition: color 0.5s;
}

.welcome {
    background: #EDF2EC;
    padding: 62px 0;
}

.welcome__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.welcome__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__image-img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.welcome__info {
    display: flex;
    flex-direction: column;
}

.welcome__info-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    max-width: 549px;
    margin-bottom: 42px;
}

.welcome__info__title span {
    color: #499A18;
}

.welcome__info-text {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    max-width: 526px;
    margin-bottom: 48px;
}

.welcome__button {
    border: 2px solid #E06733;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
    width: 158px;
    height: 44px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.welcome__button:hover {
    background-color: #E06733;
    box-shadow: 0 0 6px 4px rgba(147, 28, 28, 0.5);
    color: aqua;
    transition: .5s;
}

.about {
    background: #FFFFFF;
    padding: 95px 0;
}

.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 605px;
}

.about__info-title {
    font-family: 'Inika', sans-serif;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    max-width: 463px;
    margin-bottom: 40px;
    font-weight: 400;
}

.about__info__title span {
    color: #E06733;
}

.about__info-text {
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.about__image-img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.service {
    background: #EDF2EC;
    padding: 40px 0 92px 0;
}

.service__container {
    display: flex;
    flex-direction: column;
}

.service__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 64px;
}

.service__menu-title {
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    font-family: 'Inika', sans-serif;
    font-weight: 400;
    width: 306px;
    margin-right: 142px;
}

.service__buttons {
    font-size: 0;
}

.button {
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 11px;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    cursor: pointer;
    background-color: transparent;
    width: 161px;
    height: 50px;
}

.button_service {
    font-family: 'Inika', sans-serif;
    font-weight: 400;
    margin-right: 38px;
}

.button:hover {
    background-color: #E06733;
    box-shadow: 0 0 6px 4px rgba(147, 28, 28, 0.5);
    color: aqua;
    transition: .5s;
}

.service__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.service__item {
    margin-top: 26px;
    margin-bottom: 29px;
}

.service__image {
    width: 330px;
    height: 350px;
    border-radius: 20px 20px 0 0;
    background-size: cover;
}

.first {
    background-image: url("assets/img/first.png");
}

.second {
    background-image: url("assets/img/second.png");
}

.third {
    background-image: url("assets/img/third.png");
}

.fourth {
    background-image: url("assets/img/fourth.png");
}

.fifth {
    background-image: url("assets/img/fifth.png");
}

.sixth {
    background-image: url("assets/img/sixth.png");
}

.service__info {
    border: 1px solid #E3E1D5;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.service__info-title {
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    font-weight: 700;
    margin: 10px 0 10px 0;
}

.service__info-text {
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    margin-bottom: 36px;
}

.prices {
    background: #FFFFFF;
    padding: 40px 0 115px 0;
}

.prices__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prices__advantage-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 60px;
}

.prices__items {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 33px 40px;
}

.prices__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background: #EDF2EC;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.prices__item:last-child {
    margin-bottom: 0;
}

.prices__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.prices__item__button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    position: relative;
    background: #D9D9D9;
    cursor: pointer;
}

.prices__item__button:hover {
    background: #a6cda6;
}

.prices__item__button-svg {
    position: absolute;
    top: 6px;
    left: 5px;
}

.prices__info {
    text-align: right;
    max-width: 452px;
}

.prices__info-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 38px;
}

.prices__info-title span {
    color: #499A18;
}

.prices_button {
    margin-bottom: 39px;
    margin-left: 0;
    font-weight: 700;
}

.prices__info__image {
    font-size: 0;
}

.prices__info__image-svg {
    width: 152px;
    height: 175px;
}

.prices__info__image img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.contacts {
    background: #EDF2EC;
    padding-top: 53px;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts__image {
    font-size: 0;
}

.contacts__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    font-family: 'Inika', sans-serif;
    color: #499A18;
    text-align: center;
    margin-top: 7px;
}

.contacts__city {
    height: 50px;
    width: 450px;
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 0 20px;
    box-sizing: border-box;
    margin-top: 95px;
}

.contacts__city-title {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.contacts__button {
    background: #AEA1A1;
}

.contacts__button path {
    stroke: white;
}

.footer {
    background: #FFFFFF;
    padding: 40px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__data-span {
    margin-right: 20px;
}

.footer__data-a {
    color: #000000;
    text-decoration: none;
}

.footer__title-a {
    color: #000000;
    text-decoration: none;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons-svg {
    margin-left: 20px;
}

.footer__icons svg:first-child {
    margin-left: 0;
}

.header__burger {
    display: none;
}

.menu__close {
    display: none;
}